<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /p/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^/$ index.php/ [NC,R=301,L]
    RewriteRule ^index$ index.php
    RewriteRule ^login$ login.php
    RewriteRule ^register$ register.php
    RewriteRule ^verify$ verify.php
    RewriteRule ^dashboard$ dashboard/index.php
    RewriteRule ^manageUser$ dashboard/manageUser.php
    RewriteRule ^manageShifts$ dashboard/manageShifts.php
    RewriteRule ^manageAppoint$ dashboard/manageAppoint.php
    RewriteRule ^editUser$ dashboard/editUser.php
    RewriteRule ^staffAppoint$ dashboard/staffAppoint.php
    RewriteRule ^staffShifts$ dashboard/staffShifts.php
    RewriteRule ^userAppoint$ dashboard/userAppoint.php
    RewriteRule ^userCheck$ dashboard/userCheck.php
    RewriteRule ^staffCheck$ dashboard/staffCheck.php
    RewriteRule ^staffEditCheck? dashboard/staffEditCheck.php
    RewriteRule ^userRating$ dashboard/userRating.php
    RewriteRule ^checkRating$ dashboard/checkRating.php
    RewriteRule ^staffRating$ dashboard/staffRating.php
    RewriteRule ^setting$ dashboard/setting.php
    RewriteRule ^rank$ dashboard/rank.php
    DirectoryIndex public/index.php
</IfModule>