<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /p/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^/$ public/index.php/ [NC,R=301,L]
    RewriteRule ^index$ public/index.php
    RewriteRule ^login$ public/login.php
    RewriteRule ^register$ public/register.php
    RewriteRule ^verify$ public/verify.php
    RewriteRule ^dashboard$ public/dashboard/index.php
    DirectoryIndex public/index.php
</IfModule>