<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /p/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^/$ index.php/ [NC,R=301,L]
    RewriteRule ^index$ index.php
    RewriteRule ^login$ login.php
    RewriteRule ^register$ register.php
    RewriteRule ^verify$ verify.php
    RewriteRule ^dashboard$ dashboard/index.php
    RewriteRule ^manageUser$ dashboard/manageUser.php
    RewriteRule ^manageShifts$ dashboard/manageShifts.php
    RewriteRule ^manageAppoint$ dashboard/manageAppoint.php
    RewriteRule ^content(.*)$ content.php
    DirectoryIndex public/index.php
</IfModule>